<%= render "shared/header" %>
<div class='main'>


  <div class='title-contents'>
    <h2 class='service-title'>
     Looking for a <span class = "service-title-roommate">roommate</span>?
    </h2>
    
        <h3 class = find-title>Find a room</h3>
        <i class="fas fa-angle-down fa-2x" style="color: #339af0;"></i>
    <%= form_with(url: search_rooms_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "駅名などを入力してください", class: "input-box" %>
     <%= form.submit "Let's go!", class: "search-icon" %>
    <% end %>
    <h3 class = find-title>If you have a room</h3>
    <i class="fas fa-angle-down fa-2x" style="color: #339af0;"></i>

<a href=" /rooms/new" class="btn-circle-flat">Push a room</a>

    <i class="fas fa-angle-double-down fa-2x" style="color: #339af0;"></i>
    
  </div>


  <div class='ad-contents'>
    <h2 class='ad-title'>
      People looking for roommates today! 
    </h2>
    <p class='ad-explain'>
      ルームメイト求人サイトです
    </p>
    <p class='ad-explain'>
      敷金、礼金なしなので学生や
    </p>
    <p class='ad-explain'>
      余っている部屋がある方は有効活用してみてはいかがでしょうか
    </p>
  </div>


  <div class='feature-contents'>
    <h1 class='title'>
      Why <span class = "subtitle">Roommates.com</span>?
    </h1>
    <ul class='feature-lists'>
      <li class='list'>
        <%= image_tag "padlock.png", class:"list-pict" %>
        <h2 class='feature-list-text'>
          Safe and secure
        </h3>
        <p class='feature-list-description'>
        お客様の情報は、安全なメッセージングセンターを通じて非公開にされています。
        </p>
      </li>
      <li class='list'>
        <%= image_tag "free-delivery.png", class:"list-pict" %>
        <h2 class='feature-list-text'>
          FREE to sign up
        </h3>
        <p class='feature-list-description'>
          たった数分で登録が完了し、完全無料でサイトがご利用可能です。
        </p>
      </li>
      
      </li>
    </ul>
  </div>

  
<%= render "shared/footer" %>