<%= render "shared/header" %>

<%# 商品の概要 %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= "" %>
    </h2>
    <div class="item-img-content">
      <%= image_tag @room.image ,class:"item-box-img" %>
            <% if @room.rent.present?  %>
             <div class='agreement'> 
             <span>契約中</span> 
              </div>
            <% end %> 
      <%# 商品が売れている場合は、sold outを表示しましょう %>
      <%# //商品が売れている場合は、sold outを表示しましょう %>
    </div>
    <div class="item-price-box">
      <span class="item-price">
        <%= "¥" + "#{@room.price}" %> 
      </span>
      <span id ="a">
        <%= @room.address %>
      </span>
    </div>

<div id=map></div> 

<script>
  let map

    function initMap(){
      geocoder = new google.maps.Geocoder()

      map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: <%= @room.latitude %>, lng: <%= @room.longitude %>},
          zoom: 12,
      });


  
          (function(){
          var contentString = "住所：<%= @room.address %>"; 

          var marker = new google.maps.Marker({
              position:{lat: <%= @room.latitude %>, lng: <%= @room.longitude %>},
              map: map,
              title: contentString
          });

          })();
  
      }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY']%>&callback=initMap" async defer></script>

<style type="text/css">
  #map { height: 200px;
         width: 70%;}
</style>



    <%# ログインしているユーザーと出品しているユーザーが、同一人物の場合と同一人物ではない場合で、処理を分けましょう %>
 <% if user_signed_in? && (current_user.id == @room.user_id)  %>
    <%= link_to "お部屋の編集", edit_room_path(@room.id), method: :get, class: "item-red-btn" %>
    <p class="or-text">or</p>
    <%= link_to "削除", room_path(@room.id), method: :delete, class:"item-destroy" %>
 <% end %>
    <%# 商品が売れていない場合はこちらを表示しましょう %>
    <%# <%= link_to "購入画面に進む", "#" ,class:"item-red-btn"%>
    <%# //商品が売れていない場合はこちらを表示しましょう %>


      
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">
              ユーザー名: <%= @room.user.nickname %>
            </p>
          </header>
          <div class="card-content">
            <div class="content average-score">
              <div class="star-rating">
                <div class="star-rating-front" style="width:  <%= @room.review_score_percentage %>%">★★★★★</div>
                <div class="star-rating-back">★★★★★</div>
              </div>
              <div class="average-score-display">
            <%= @room.avg_score %>点（<%= @room.reviews.count %>件のレビュー）
              </div>
            </div>
          </div>
        </div>
        <%= render 'reviews/form', review: @review, room: @room %>
      </div>
    </div>
  </div>

    <%# //ログインしているユーザーと出品しているユーザーが、同一人物の場合と同一人物ではない場合で、処理を分けましょう %>

    <div class="item-explain-box">
      <span><%= @room.discribe %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">出品者</th>
          <td class="detail-value"><%= @room.user.nickname %></td>
        </tr>
        <tr>
          <th class="detail-item">最寄駅</th>
          <td class="detail-value"><%= @room.station %></td>
        </tr>
        <tr>
          <th class="detail-item">利用可能日</th>
          <td class="detail-value"><%= @room.date %></td>
        </tr>
        <tr>
          <th class="detail-item">エアコン</th>
          <td class="detail-value"><%= @room.airConditioner.name %></td>
        </tr>
        <tr>
          <th class="detail-item">キッチン</th>
          <td class="detail-value"><%= @room.kitchen.name %></td>
        </tr>
        <tr>
          <th class="detail-item">トイレ</th>
          <td class="detail-value"><%= @room.toilet.name %></td>
        </tr>
        <tr>
          <th class="detail-item">お風呂</th>
          <td class="detail-value"><%= @room.bathroom.name %></td>
        </tr>
        <tr>
          <th class="detail-item">ペット</th>
          <td class="detail-value"><%= @room.pet.name %></td>
        </tr>
        <% if @room.phone_number.present? %>
        <tr>
          <th class="detail-item">連絡用電話番号</th>
          <td class="detail-value"><%= @room.phone_number %></td>
        </tr>
        <% end %>
         <% if @room.mail.present? %>
        <tr>
          <th class="detail-item">連絡用メールアドレス</th>
          <td class="detail-value"><%= @room.mail %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

  <%# /商品の概要 %>

  <div class="comment-box">
  <% if user_signed_in? %>
    <%= form_with(model: [@room, @comment], local: true) do |form| %>
    <%= form.text_area :text,class: "comment-text",placeholder: "コメントする" ,rows: "2" %>
     
      
      <%= form.submit "SEND",class: "comment-btn"%>
     <% end %>
    <% else %>
         <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
    <div class ="comments">
      <h4>＜コメント一覧></h4>
      <% @comments.each do |comment|%>
       <p>
        <span><%= comment.user.nickname%>：</span>
          <%= comment.text %>
        </p>
      <% end %>
    </div>
  </div>


  <%# 詳細ページで表示されている商品のカテゴリー名を表示しましょう %>
  <a href="/rooms" class="another-item">TOP に戻る</a>
  <%# //詳細ページで表示されている商品のカテゴリー名を表示しましょう %>
</div>

<%= render "shared/footer" %>
